.ICON {
    margin-top: 2rem;
    text-align: center;
    overflow: hidden;
}

.ICON img {
    width: 400px;
    height: 400px;
}

.ICON .artist{
    rotate: -30deg;
    color: var(--primary-color-unhover);
    font-size: 1.75em;
    transform: translateX(5em);
}

.ICON .artist a, a:visited{
    color: var(--primary-color-unhover);
    text-decoration: none;
    transition: color 0.5s ;
}

.ICON .artist a:where(:hover, :focus){
    color: var(--primary-color);
}

.name {
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    margin-block: 0.5rem;
    font-size: 3rem;
    font-weight: 600;
}

.links-container {
    margin-inline: auto;
    width: 50%;
    margin-bottom: 1rem;
}

iconify-icon {
    display: block;
}

.links{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.5em, 1fr));

    gap: 2rem;
    font-size: 4rem;
    place-items: center;
}

.links a, .links button{
    font-size: 0.9em;
    padding: 0.5em;
    text-align: center;

    background-color: var(--links-background-color-unactive);
    border-radius: 30px;
    backdrop-filter: blur(5px);
    transition: all 0.5s ease;
    border: solid 1px var(--secondary-color);
    box-shadow: 1px 5px var(--secondary-color);
}

.links a:where(:hover, :focus), .links button:where(:hover, :focus){
    font-size: 1.1em;
    padding: 0.5em;

    background-color: var(--links-background-color-active);
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

#COPY_text {
    font-size: 2rem;
    color: var(--primary-color);
    opacity: 0;
    transition: all 1.5s ease;
    text-align: center;
}

@media screen and (max-width: 700px) {
    .ICON img {
        width: 175px;
        height: 175px;
    }
    .ICON .artist {
        font-size: 1rem;
        transform: translateX(3.5em);
    }
    .links {
        font-size: 3rem;
    }
    .name {
        font-size: 1.75rem;
    }
    #COPY_text {
        font-size: 1.25rem;
    }
}
