.ICON {
    margin-top: 2rem;
    text-align: center;
    overflow: hidden;
    font-size: 1.25rem;
}

.ICON img {
    display: block;
    margin: 0 auto;
    width: clamp(128px, 75%, 512px);
}

.ICON .artist{
    rotate: -30deg;
    color: var(--primary-color-unhover);
    transform: translateX(clamp(1em, 100%, 4em));
}

.ICON .artist a, a:visited{
    color: var(--primary-color-unhover);
    text-decoration: none;
    transition: color 0.5s ;
}

.ICON .artist a:where(:hover, :focus){
    color: var(--primary-color);
}

.name {
    color: var(--primary-color);
    text-align: center;
    width: 100%;
    font-size: clamp(2rem, 4vw, 4rem);
    font-weight: 600;
}

.links-container{
    width: 60%;
    margin-inline: auto;
    margin-block: 2rem;
}

.links {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1.5em, 1fr));
    gap: 2rem;
    font-size: 4rem;
    place-items: center;
}

.links a, .links button{
    font-size: 0.9em;
    padding: 0.5em;
    text-align: center;

    background-color: var(--links-background-color-unactive);
    border-radius: 30px;
    backdrop-filter: blur(4px);
    transition: all 0.5s ease;
    transform-origin: bottom;
    border: solid 1px var(--secondary-color);
    box-shadow: 1px 5px var(--secondary-color);
}

.links a:where(:hover, :focus), .links button:where(:hover, :focus){
    background-color: var(--links-background-color-active);
    border-radius: 30px;
    scale: 1.2;
}

#COPY_text {
    font-size: 2rem;
    color: var(--primary-color);
    opacity: 0;
    transition: all 1.5s ease;
    text-align: center;
} 

.LastFM::before {
    content: " ";
    width: .2rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: var(--secondary-color);
    transition: all 0.5s;
}

.LastFM {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 1;
    align-items: center;
    justify-content: center;
    
    position: fixed;
    left: 1rem;
    top: 1rem;
    transition: all 0.5s;
}

.LastFM iconify-icon::after {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: .2rem;
    z-index: -1;
    background-color: var(--secondary-color);
    opacity: .25;
    transition: all 0.5s;
    border-radius: 0 3px 3px 0;
}

.LastFM iconify-icon {
    grid-column: 1;
    margin-inline: .3rem;
    display: inline-block;
}

.LastFM a, .LastFM img {
    grid-column: 2;
    text-decoration: none;
}

@media screen and (max-width: 512px) {

    .LastFM {
        left: .5rem;
        top: .5rem;
        transform-origin: left;
        scale: .55;
        width: max-content;
    }

}