* {
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100vh;
}

intro {
  display: flex;
  font-family: "Noto Sans Mono", monospace;
  -webkit-animation-name: blur_fadein;
  animation-name: blur_fadein;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;

  margin: 2rem;
  icon {
    img {
      width: 512px;
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }

    p {
      color: rgba(0, 0, 0, 0.4);
      font-size: 1.25rem;
      text-align: center;
    }

    a {
      color: rgba(255, 175, 204, 0.65);
      text-decoration: none;
      transition: color 0.5s;
      font-size: 1.5rem;
    }

    a:where(:hover, :focus) {
      color: rgb(255, 175, 204);
    }
  }

  text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    h1 {
      color: #ffafcc;
      font-size: 4rem;
    }

    p {
      color: #a6d0fc;
      font-size: 1.75rem;
    }
  }
}

@-webkit-keyframes blur_fadein {
  from {
    opacity: 0%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  to {
    opacity: 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@keyframes blur_fadein {
  from {
    opacity: 0%;
    -webkit-filter: blur(10px);
    filter: blur(10px);
  }
  to {
    opacity: 100%;
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}

@media only screen and (max-width: 800px) {
  intro {
    flex-direction: column;

    icon {
      img {
        width: 350px;
      }
      p {
        font-size: 1rem;
        padding-bottom: 1.25rem;
      }
      a {
        font-size: 1.25rem;
      }
    }

    text {
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1rem;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }
}
