@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    src: url('/static/fonts/Inter/Inter-VariableFont.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Mono Bold';
    src: url('/static/fonts/Fira_Mono/FiraMono-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Mono Medium';
    src: url('/static/fonts/Fira_Mono/FiraMono-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Fira Mono';
    src: url('/static/fonts/Fira_Mono/FiraMono-Regular.ttf') format('truetype');
}

body {
    font-family: 'Inter', sans-serif;
}

.bio {
    font-family: 'Fira Mono', monospace;
}